.footer{
	max-width: 960px;
	margin: 0 auto;
	background-color: #E0E7EB;
	border: 1.5px solid #B1C3CD;
	border-bottom: none;

	padding-top: 40px;
	padding-bottom: 120px;
	&__content{
		text-align: center;

		&-sect{
			margin-bottom: 35px;
		}
	}
}