.footer{
    width: 100%;
    margin: 0 auto;
	text-align: center;
    padding-bottom: 3rem;
	
	&__logo{
		display: inline-block;
		width: 40px;
		height: auto;
		transform: rotate(25%);
	}

	&__content{
		text-align: center;

		&-sect{
			margin-bottom: 35px;
		}
	}
}