.headline{
	font-size: 1.8rem;

	&--logo{
		display: inline-block;
		float: left;
		margin: 0;
		font-size: 1.6rem;
		font-weight: 400;
		
		& a{
			color: black;
			text-decoration: none;
		}
	}

	&__title{
		font-size: 2.2rem;
		font-weight: 500;
	}

	&__info{
		display: block;
		font-weight: 400;
		font-size: 1rem;
		line-height: 1.8;
		word-spacing: 2px;
		color: #000;
	}

	&__intro{
		font-size: 1.1rem;
	}

	&__sect{
		font-weight: 600;
		font-size: 1.3rem;
		line-height: 1.7;

		h2{
			font-weight: 600;
			font-size: 1.3rem;
		}

		a{
			text-decoration: none;
		}
		
		p, ul, span{
			font-size: 1.05rem;
			font-weight: 400;
			word-spacing: 1px;
		}
	}
}