@import '../styles/mixin';

.headline{
	font-size: 1.8rem;
    font-weight: 600;
    margin: 0;
	padding: 0;
	
    word-spacing: 2.2px;
	letter-spacing: 1.5px;

	color: #000;
	
	text-transform: capitalize;

	@include atMinMedium{
		font-size: 2.2rem;
		letter-spacing: 2px;
		word-spacing: 1px;
	}

	&--logo{
		display: inline-block;
		margin: 0;
		font-size: 1.6rem;
		font-weight: 400;
		
		& a{
			color: black;
			text-decoration: none;
		}
	}

	&__feature{
		display: block;
		font-size: 26px;
		
		font-weight: 500;

		letter-spacing: 3px;
		word-spacing: 6px;

		color: #000;

		margin-bottom: 26px;
	}

	&__subtitle{
		display: block;
		font-weight: bold;
		font-size: 28px;

		line-height: 1.4;
		word-spacing: 8px;

		color: #006699;
	}

	&__date{
		display: block;
		font-size: 15px;
		font-weight: 400;
		margin-bottom: 0;
		
		line-height: 1.8;
		word-spacing: 2px;
		color: #666666;
	}

	&__error-text{
		display: block;
		font-weight: 500;
		font-size: 50px;
		line-height: 1.5;

		letter-spacing: 3px;
		word-spacing: 6px;
		color: #000;

		margin-bottom: 20px;
	}

	&__text{
	
		display: block;
		font-weight: 400;
		font-size: 16px;
		line-height: 1.6;
		word-spacing: 1px;
		color: #000;

		text-transform: none;

		@include atMinMedium{
			font-size: 18px;
			line-height: 1.6;
			word-spacing: 1.1px;
			letter-spacing: 1.1px;
		}

		h2{
			font-weight: 700;
			font-size: 1.6rem;
			line-height: 1.5;
			
			letter-spacing: 1.5px;
			word-spacing: 3px;

			margin-top: 30px;
			margin-bottom: 40px;
		}

		a{
			cursor: pointer;
			text-decoration: underline;
			color: #2B00FF;
		}

	}

	&__intro{
		font-size: 1.1rem;
	}

	strong {
		font-weight: 400;
	}

	&--dark-blue{
		color: #006699;
	}

	&--b-margin-small {
		margin-bottom: .5em;
	}

	&--b-margin-medium {
		margin-bottom: 1em;
	}

	&--b-margin-large {
		margin-bottom: 1.5em;
	}

	&--no-t-margin {
		margin-top: 0;
	}

	&--mid{
		text-align: center;
	}

}