.primary-nav {

    margin-top: 12px;

    &--pull-right {
      float: right;
    }
    .social{
      margin: a auto;
    }
    .nav{
      display: inline-block;
    }
  
    ul {
      margin: 0;
      padding: 0;
    }
  
    li {
      list-style: none;
      display: inline-block;
      transition: all 0.20s ease;

      margin-right: 30px;

      &:last-of-type{
        margin-right: 0;
      }
    }

    
    a {
      color: black;
      display: block;
      text-decoration: none;
      font-weight: 400;
      text-shadow: 0.3px 0.3px 1px rgba(0, 0, 0, 0.1);
      &:hover{
        transition: all 0.25s;
        cursor: pointer;
        color: #FF6A00;
      }
    }

    .social a{
      
      img{
        width: 30px;
        height: auto;
      }
    }
  
    .footer-links a{
      color: black;
      display: block;
      &:hover{
        cursor: pointer;
        color: #FF6A00;
      }
    }
    
  }