.sect{

	&__nav-form{
		display: inline-block;
		margin-right: 25px;
		position: relative;

		input{
			display: inline-block;
			border: 1px solid #ffda95;
		}
		&__search{
			position: absolute;
			left: 0;
		}
	}

	li{
		line-height: 1.7;
	}

	&__par{
		margin-top: 25px;
		margin-bottom: 30px
	}
	&__links-bar{
		display: inline-block;
		width: 500px;
	}

}
