.site-banner{
	width: 100%;
	padding: 50px 0;
	overflow: hidden;

	&__info{
		max-width: 680px;
		margin: 0 auto;
		text-align: center;
	}

	&__bg-image{
		display: block;
		opacity: 0.45;
		width: 100%;
		height: auto;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
	}

	&__post{
		margin-top: 10px;
		margin-bottom: 70px;
	}
	&__post-block{
		background-color: #E9F5FC;
		padding: 15px 12px;

		border: 1px solid #B1C3CD;

		margin-bottom: 8px;
		a{
			text-decoration: none;
			color: none;
		}
	}
	

}