.site-banner{
	width: 100%;
	padding: 50px 0;
	overflow: hidden;

	&__info{
		max-width: 680px;
		margin: 0 auto;
		text-align: center;
	}

	&__bg-image{
		display: block;
		opacity: 0.45;
		width: 100%;
		height: auto;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
	}
}