.site-banner{
	background-color: #000;
	padding: 120px 0 100px 0;
	position: relative;
	overflow: hidden;
	&__bg-image{
		display: block;
		-webkit-mask: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 10%);
		opacity: 0.45;
		width: 100%;
		height: auto;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 2;
	}
	&__up{
		position: relative;
		z-index: 10;
	}
}